SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001",ATTRS{serial}=="FT0AHH9W", SYMLINK+="ttyUSB.rs232-02"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001",ATTRS{serial}=="A503VSIE", SYMLINK+="ttyUSB.rs485-01"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001",ATTRS{serial}=="FT0AH8OH", SYMLINK+="ttyUSB.rs232-01"
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="ttyUSB.rs232-03"
SUBSYSTEM=="tty", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="ffee", SYMLINK+="ttyUSBiss"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", ATTRS{serial}=="DA008BGM", SYMLINK+="ttyGrimmOpc11R"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FT1VCW4O", SYMLINK+="ttyFTDI485USB"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FT2HREKL", SYMLINK+="ttyFTDI485USB02"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTFJI3XL", SYMLINK+="ttyFTDI422THIESUSB"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001",ATTRS{serial}=="FT0AH8OH", SYMLINK+="ttyUSB.rs232-01"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001",ATTRS{serial}=="FT4PFJPV", SYMLINK+="ttyUSB.rs232-02"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001",ATTRS{serial}=="FTXO8L9O", SYMLINK+="ttyFTDIMA200"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001",ATTRS{serial}=="FTCVKV1R", SYMLINK+="ttyFTDIAURORA3000md"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015",ATTRS{serial}=="FT4PFIJR", SYMLINK+="ttyFTDICIMEL"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015",ATTRS{serial}=="DM4HNO5Y", SYMLINK+="ttyFTDITCCS01"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015",ATTRS{serial}=="FT4PIAWI", SYMLINK+="ttyUSB1001"

# FT4232H
SUBSYSTEMS=="usb", ENV{.LOCAL_ifNum}="$attr{bInterfaceNumber}"
SUBSYSTEMS=="usb", KERNEL=="ttyUSB[0-9]*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ATTRS{serial}=="FT0E2VEJ", ENV{.LOCAL_ifNum}=="00",  SYMLINK+="ttyUSB-COM232-PLUS4-01A", GROUP="dialout", MODE="0660"
SUBSYSTEMS=="usb", KERNEL=="ttyUSB[0-9]*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ATTRS{serial}=="FT0E2VEJ", ENV{.LOCAL_ifNum}=="01",  SYMLINK+="ttyUSB-COM232-PLUS4-01B", GROUP="dialout", MODE="0660"
SUBSYSTEMS=="usb", KERNEL=="ttyUSB[0-9]*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ATTRS{serial}=="FT0E2VEJ", ENV{.LOCAL_ifNum}=="02",  SYMLINK+="ttyUSB-COM232-PLUS4-01C", GROUP="dialout", MODE="0660"
SUBSYSTEMS=="usb", KERNEL=="ttyUSB[0-9]*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ATTRS{serial}=="FT0E2VEJ", ENV{.LOCAL_ifNum}=="03",  SYMLINK+="ttyUSB-COM232-PLUS4-01D", GROUP="dialout", MODE="0660"

